.search-box{
    font-size: 1.4rem;
    position: relative;
    top: 8px;
  }
  
.summary{
    display: flex !important;
    flex-direction: row  !important;
    align-items: center  !important;
    box-sizing: border-box;
    position: relative;
    font-size: small !important;
}
